[Oo]bj/
[Bb]in/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
.vs/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*.vsp
*.pidb
*.*sdf
*.ipch
launchSettings.json
node_modules/
npm-debug.log
*.tmp
*.nuget.props
*.nuget.targets
.idea/
.vscode/
global.json
chat.js
